<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <h1>PM2.5數據列表</h1>
    <a href="/update-db">更新資料庫</a>
    <div id="main" style="width: 800px;height:400px;"></div>
    <div id="county" style="width: 700px;height:400px;" hidden></div>
    <div style="margin: 6px;">
        <label for="countySelect">選擇縣市</label>
        <select name="countySelect" id="countySelect">
            {% for county in countys %}
            <option value="{{county}}">{{county}}</option>
            {% endfor %}
        </select>
        <button id="loadCounty" onclick="drawCountyChart()">確定</button>
    </div>
    <div id="tableContainer">
        <table border="1">
            <thead>
                <tr>
                    {% for col in columns %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for value in values %}
                <tr>
                    {% for data in value %}
                    <td>{{data}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script type="text/javascript">
        const chart1 = echarts.init(document.getElementById('main'));

        const chart2 = echarts.init(document.getElementById('county'));
        const countyEl = document.getElementById('county');
        const countySelectEl = document.querySelector("#countySelect");

        drawChart(chart1, "/avg-pm25", "各縣市PM2.5平均值", "county", "pm25")


        function drawCountyChart() {
            let county = countySelectEl.value;
            countyEl.hidden = false;
            console.log(county);
            drawChart(chart2, `/county-pm25/${county}`, `${county}PM2.5數據圖`, "site", "pm25", "orange");
        }



        function drawChart(chart, url, title, xKey, yKey, color = "#b0c4de") {

            chart.showLoading();
            $.ajax(
                {
                    url: url,
                    type: "GET",
                    dataType: "json",
                    error: () => {
                        alert("讀取資料錯誤，請稍後在試!");
                    },
                    success: (result) => {
                        chart.hideLoading();
                        console.log(result);
                        var option = {
                            title: {
                                text: title
                            },
                            tooltip: {},
                            legend: {
                                data: ['PM2.5']
                            },
                            xAxis: {
                                data: result[xKey]
                            },
                            yAxis: {},
                            series: [
                                {
                                    itemStyle: {
                                        color: color
                                    },
                                    name: 'PM2.5',
                                    type: 'bar',
                                    data: result[yKey]
                                }
                            ]
                        };

                        chart.setOption(option);
                    },
                }
            );
        }


    </script>


</body>

</html>